html,body{
	/*background-image: url("/css/img/background.jpg");*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	/*background-color: #f6f6f6;*/
}

p.introduction{
	margin-top: 20px;
	font-size: 12px;
}
p.question{
	margin-top: 35px;
	font-size: 16px;
	margin-bottom: 0px;
}
button.laststep{
	/*margin-top:30px;
	background-color:#e2dfe5*/
	position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    background:#2cb298;
    color: white;
    padding-top: 13px;
    border-radius: 0px;
	/*margin-top: 10px;	
	margin-left:19px;*/
}

button.laststep:hover{
	background-color:#1B9C83;
}
div.laststep{
	background-color:#e2dfe5
}

.center-block{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

div.teacher-photo img{
	height: 100px;
	width: 100px;
	box-shadow:0 0 10px #333;
}

div.teacher-price{
	font-size: 14px;
	color: #1B9C83;
	margin-top: -10px
}

img.listHeader {
	height:50px;
	width:50px;
}

div.school-info{
	font-size: 14px;
}

div.school-info div span{
	padding-right: 5px;
	overflow:hidden;
	text-overflow:ellipsis;
	font-style: italic;
}

div.subjects{
	margin-top: 15px;
}

div.subjects_label{
	/*font-size: 12px;*/
	/*padding-top: 6px;*/
	padding-left: 0px;
	padding-right: 0px;
	background-color: #48C9B0;
	color: white;
	margin-bottom: 30px;
}

div.subjects_label:before{
	height: 0px;
	width: 0px;
	bottom: -18px;
	position: absolute;
	content: "";
	left: 0px;
	border-left: 30px solid transparent;
	border-top: 18px solid #1B9C83;
}

div.subjects_label span:before{
	height: 0px;
	width: 0px;
	bottom: -18px;
	position: absolute;
	content: "";
	border-top: 25px solid rgba(27, 156, 131, 0.56);
	border-right: 50px solid rgba(27, 156, 131, 0.56);
	z-index: -3;
	right: -20px;
}

div.subjects_label:after{
    height: 0px;
    width: 0px;
    right: 0px;
    position: absolute;
    content: "";
    bottom: -18px;
    border-top: 18px solid #1B9C83;
    border-right: 30px solid transparent;
}

div.subjects_label span:after{
	height: 0px;
	width: 0px;
	bottom: -18px;
	position: absolute;
	content: "";
	left: -20px;
	border-top: 25px solid rgba(27, 156, 131, 0.56);
	border-right: 50px solid rgba(27, 156, 131, 0.56);
	z-index: -3;
}

div.subjects_value{
	padding-left: 0px;
	padding-right: 2px;
	padding-top: 2px;
}

div.interests{
	margin-top: 15px;
}

div.interests_label{
	/*font-size: 12px;
	padding-top: 6px;*/
	padding-left: 0px;
	padding-right: 0px;
}

div.accept{
	margin-top: 30px;
}

div.back-to-list{
	margin-top: 10px;
}

div.interests_value{
	padding-left: 1px;
}

div.find-header{
	background-color: #2cb298;
}

div.find-header div{
	font-size: 8px;
	background-color: white;
	color: black;
	border-radius: 3px;
	margin-bottom: 10px;
	color: #2cb298;
	box-shadow:0 0 0.5px #333;
}

div.find-header img{
	width: 65px;
	height: 65px;
}

img.seperator{
	margin-left: -15px;
}

button.options{
	background-color: white;
	border: 2px solid #2cb298;
	border-radius: 6px;
}

button.options:hover{
	background-color:#2cb298;
	color: black;
}

button.clicked{
	background-color:#2CB298;
	color:black;
}




























