table.my-record-detail tr:nth-child(even){
	background-color: white;
}

div.button-group{
	/*margin-top:30px;
	background-color:#e2dfe5*/
	position:fixed;
    left:0px;
    bottom:0px;
    height:45px;
    width:100%;
    background:#2cb298;
    color: white;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
	/*margin-top: 10px;	
	margin-left:19px;*/
}

div.button-group div{
	padding: 0px;
}

div.button-group button{
	border-radius: 0px;
	background:#2cb298;
	color: white;	
}

div.line{
	border-right: 2px solid #1B9C83;
}

