.arrow{
	float: right;
	margin-top: 5px;
	width:8px;
	height:8px;
	border-width:2px;
	border-style:solid;
	border-color:transparent #949494 #949494 transparent;
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

