<!DOCTYPE html>
<html class="no-js">
<head>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>课程纪录</title>
  <link rel="stylesheet" href="../../Public/Wechat/js/amazeui/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="../../Public/Wechat/css/teachingRecord.css">
  
</head>
<body>
	<div id="doc-scrollspy-wrapper" data-am-observe>
	  	<p class="am-text-center am-margin-top-sm title">教学纪录</p>
	</div>
	<!-- <button class="am-btn am-btn-primary" id="doc-scrollspy-insert">加载更多</button> -->
<script src="../../Public/Wechat/js/amazeui/assets/js/jquery.min.js"></script>
<script src="../../Public/Wechat/js/amazeui/assets/js/amazeui.min.js"></script>
<script type="text/javascript">
	var $wrapper = $('#doc-scrollspy-wrapper');
	var paging = 3;
	var index = 1;
	var teachingRecords = {$data.result};
	var length = teachingRecords.length;
		
	$(document).ready(function(){
		addRecords();
	});
	
	function addRecords(){
		if(length-paging*(index-1) < paging && length-paging*index !=0){
			var j = length;
			//$('#doc-scrollspy-insert').hide();
		}else{
			var j = paging*index;
			//if(length-paging*index == 0){
			//	$('#doc-scrollspy-insert').hide();	
			//}
		}
		
		for(var i= paging*(index-1); i<j; i++){
			var displayDt = teachingRecords[i].teachingDt.substr(0,10);	
			var displayComment = "";
			if(teachingRecords[i].comment.length!=0){
				displayComment =teachingRecords[i].comment;
			}
	     	var panel = '<div class="am-panel am-panel-primary" id="'+i+'" data-am-scrollspy="{animation: \'scale-up\'}">' +
	     				'<div class="am-panel am-panel-hd">'+displayDt+" {$data.displayCourse}"+'</div>';
	     	if(teachingRecords[i].status == 0){
	     		panel = panel + '<span class="not-updated">未更新</span>';
	     	}
	     	panel = panel + '<div class="am-panel am-panel-bd am-sans-serif am-text-center">';
	     	if(teachingRecords[i].status == 0){
	     		panel = panel + '"请更新您的教学纪录"'+'</div>'+
	     				'<div>课堂总评';
	     	}else{
	     		panel = panel +'"'+ displayComment + '"</div>'+
	     				'<div>课堂总评';
	     	}
	     	for(var k=0; k<teachingRecords[i].overallScore; k++){
	     		panel = panel +'<div class="am-fr"><div class="am-icon-star am-icon-sm" style="color: #2cb298"></div>';
	     	}
	     	panel = panel + '</div></div></div>';
	    	$wrapper.append(panel);
	    	(function () {
	    	  var temp=i;     
		      $("#"+temp).on('click', function(){
		    		var recordId = teachingRecords[temp].recordId;
		    		var teachingDt = teachingRecords[temp].teachingDt;
		    		var transactionId = teachingRecords[temp].transactionId;
		    		var status = teachingRecords[temp].status;
		    		window.location.href='{:U("Wechat/TeacherRecord/uploadTeachingRecord")}?recordId='+recordId+
		    		'&teachingDt='+teachingDt+
		    		'&transactionId='+transactionId+
		    		'&courseCode={$data.course}'+
		    		'&status='+status;
		    	});    
		    })();     
	    	
			if(i==paging*(index-1) && i!=0){
				$("#"+(i-1)).removeClass("lastRecord");
			}else if(i == j-1){
				$("#"+i).addClass("lastRecord");
				(function(){
					var temp=i;
					$("#"+temp).on('inview.scrollspy.amui', function(){
						addRecords();
					});
				})();
			}
			if(teachingRecords[i].status == 0){
				$('#'+i).addClass("notStarted");
			}    	
		}
		index++;
	}
	
	// $('#doc-scrollspy-insert').on('click', function(){
		// addRecords();
	// });
</script>
</body>
</html>

