<!DOCTYPE html>
<html class="no-js">
<head>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>课程纪录</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="../../Public/js/amazeui/assets/css/amazeui.min.css">
</head>
<body>
	<div id="doc-scrollspy-wrapper" data-am-observe>
	  	<p>教学纪录</p>
	</div>
	<!-- <button class="am-btn am-btn-primary" id="doc-scrollspy-insert">加载更多</button> -->
<script src="../../Public/js/amazeui/assets/js/jquery.min.js"></script>
<script src="../../Public/js/amazeui/assets/js/amazeui.min.js"></script>
<script type="text/javascript">
	var $wrapper = $('#doc-scrollspy-wrapper');
	var paging = 3;
	var index = 1;
	var teachingRecords = new Array();
	var teachingRecords = {$test};
	var length = teachingRecords.length;
		
	$(document).ready(function(){
		addRecords();
	});
	
	function addRecords(){
		if(length-paging*(index-1) < paging && length-paging*index !=0){
			var j = length;
			//$('#doc-scrollspy-insert').hide();
		}else{
			var j = paging*index;
			//if(length-paging*index == 0){
			//	$('#doc-scrollspy-insert').hide();	
			//}
		}
		for(var i= paging*(index-1); i<j; i++){
	     	var panel = '<div class="am-panel am-panel-primary" id="'+i+'" data-am-scrollspy="{animation: \'scale-up\'}">' +
	     				'<div class="am-panel am-panel-hd">'+teachingRecords[i].teachingDt+'</div>'+
	     				'<div class="am-panel am-panel-bd">'+teachingRecords[i].comment+'</div>';
	     	for(var k=0; k<teachingRecords[i].overallScore; k++){
	     		panel = panel +'<div class="am-icon-star"></div>';
	     	}
	     	panel = panel + '</div>';
	    	$wrapper.append(panel);
	    	$("#"+i).on('click', function(){
	    		var recordId = teachingRecords[i].recordId;
	    		var teachingDt = teachingRecords[i].teachingDt;
	    		var transactionId = teachingRecords[i].transactionId;
	    		var status = teachingRecords[i].status;
	    		window.location.href='{:U("Wechat/TeacherRecord/uploadTeachingRecord")}?recordId='+recordId+
	    		'&teachingDt='+teachingDt+
	    		'&transactionId='+transactionId+
	    		'&status='+status;
	    	});
	    	
			if(i==paging*(index-1) && i!=0){
				$("#"+(i-1)).removeClass("lastRecord");
			}else if(i == j-1){
				$("#"+i).addClass("lastRecord");
				$("#"+i).on('inview.scrollspy.amui', function(){
					addRecords();
				});
			}	    	
		}
		index++;
	}
	
	// $('#doc-scrollspy-insert').on('click', function(){
		// addRecords();
	// });
</script>
</body>
</html>

